@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.custom-background {
  background: linear-gradient(90deg, #8064ee -0.13%, #4d24e0 99.87%);
}

@layer components {
  .navBar-a-styling {
    @apply text-[1.1rem] font-medium relative cursor-pointer before:w-8 before:h-[0.2rem] before:bg-gradient-to-r before:from-[#a993f3] before:to-[#7e61e7] before:rounded-lg before:absolute before:bottom-[-0.6rem] before:opacity-0 before:translate-x-[-1.5rem] before:transition-all before:ease-linear before:duration-300 before:hover:w-full before:hover:translate-x-0 before:hover:opacity-100;
  }

  .form-input-styling {
    @apply p-[0.7rem] rounded-[0.3rem] flex-[1] w-full xs:text-[0.8rem] text-[0.6rem] text-white bg-[#130f2a] sm:rounded-[0.6rem] border-[1.5px] border-solid border-[#6751b9] mt-[0.6rem] sm:p-4;
  }
}

@layer utilities {
  .mobile-nav-z-index {
    z-index: 999 !important;
  }
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}
